
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Envs
.venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Local data
memory.db

# VS Code
.vscode/
